.container {
  font-family: "Rubik", "Arial", sans-serif;
  box-sizing: border-box;
  width: 1568px;
  margin: 0 auto;
  padding: 80px 86px;

  @include vp-1559 {
    width: 1214px;
  }

  @include vp-1279 {
    padding: 60px 40px;
    width: 768px;
  }

  @include vp-767 {
    width: 320px;
    padding: 40px 0 40px 20px;
  }
}
