.container {
  box-sizing: border-box;
  width: 100%;
  min-width: 1024px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 120px 30px;

  // @include vp-1199 {
  //   padding: 100px 45px;
  //   min-width: 768px;
  //   max-width: 768px;
  // }

  // @include vp-767 {
  //   min-width: 320px;
  //   max-width: 320px;
  //   padding: 70px 15px;
  // }
}
